/*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
html {
  font-family: Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
}
.text-white {
  color: white !important;
}
.row {
  margin-left: -8;
  margin-right: -8;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-half {
  width: 50%;
}
.col-full {
  width: 100%;
}
.col-third {
  width: 33.3333%;
}
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
}
#main {
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 46px;
  background-color: black;
  z-index: 1;
}

#nav,
.subnav {
  list-style-type: none;
}
#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: white;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}
#nav > li:hover > .subnav {
  display: block;
}

#nav > li:hover > a {
  color: black;
  background-color: rgb(210, 206, 206);
}

#nav .subnav {
  min-width: 160px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#nav .subnav li:hover {
  color: black;
  background-color: rgb(210, 206, 206);
}

#nav .subnav a {
  color: #000;
}

#header .search-btn {
  float: right;
  color: aliceblue;
  line-height: 46px;
  padding: 0 21px;
  cursor: pointer;
}
#header .search-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}

#slider {
  position: relative;
overflow: hidden;
}
#slider img{
  width: 100%;
  height: 714px;
}
#slider .text-content {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#slider .text-heading {
}

#slider .text-description {
  margin-top: 25px;
}

#content {
}

#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}
#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}
#content .about-text {
  margin-top: 25px;
}
#content .members-list {
  margin-top: 48px;
  overflow: hidden;
}
#content .member-item {
  float: left;
  width: 33.33333%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#content .member-name {
  font-size: 15px;
  font-weight: 600;
}

#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}
#content .member-item:hover .member-img {
  transform: scale(1.1); /* Khi hover, phóng to hình ảnh */
}

#content .tour-section {
  background-color: #000;
}
.tickets-list {
  background-color: white;
  margin-top: 40px;
  list-style-type: none;
}
.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  margin-left: 16px;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #ddd;
  text-align: center;
  line-height: 24px;
  border-radius: 50px;
}
/* place */
.places-list {
  margin-top: 32px;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 60px;
}
.place-item {
  float: left;
  width: 33.33333%;
  padding: 0 8px;
}
.place-img {
  width: 100%;
  height: 191px;
  display: block;
}
.place-img:hover {
  opacity: 0.7;
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  color: #757575;
  margin-top: 15px;
}
.place-desc {
  margin-top: 15px;
}
.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}
.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.open {
  display: flex;
}
.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
  box-shadow: -2px -5px 15px 5px rgba(255, 255, 255, 0.25);
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 7px;
  color: #fff;
  cursor: pointer;
}
.modal-header {
  background-color: #000;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-body {
  padding: 15px;
}
.model-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-tickets {
  background-color: #000;
  padding: 10px 30px;
  border: none;
  color: #fff;
  font-size: 20px;
}
@keyframes modalFadeIn {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
.content-section i {
  padding-right: 5px;
}
.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 16px;
}
.submit{
  background-color: #000;
  padding: 4px 10px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  
}

#footer {
  text-align: center;
  
}
.map-img img{
  padding-top: 50px;
  width: 100%;  
}

.logo-footer{
  height: 228px;
  

}
.logo-footer i{
  margin: 4px;
  line-height: 228px;
  
}
